{% extends "2layout.html" %}
{% block content %}
<form action="/create" method="POST">
    <p>Kyselyn nimi:<br>
    <input type="text" name="topic" minlength="1" maxlength="15" ></p>
    
    <p>Automerkki 1:<br>
    <input type="text" name="choice"></p> 

    <p>Automerkki 2:<br>
    <input type="text" name="choice"></p>

    <p>Automerkki 3:<br>
    <input type="text" name="choice"></p>

    <p>Automerkki 4:<br>
    <input type="text" name="choice"></p>

    <p>Valitse auton kuva tiedostoista:
        <p><input type="file"  accept="image/*" name="image" id="file"  onchange="loadFile(event)" style="display: none;"></p>
        <p><label for="file" style="cursor: pointer;"><strong><u>Paina tästä</u></strong></label></p>
        <p><img id="output" width="200" /></p>
        <script>
        var loadFile = function(event) {
            var image = document.getElementById('output');
            image.src = URL.createObjectURL(event.target.files[0]);
        };
        </script>
    <p><strong>Kirjoita oikea vastaus tähän:</strong><br>
    <input type="text" name="correct"></p>

    <input type="submit" value="Luo kysely">

    <br>
    <br><a href="/">Etusivulle</a>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
{% endblock %}