{% extends "2layout.html" %}
{% block content %}
<form action="/create" method="POST">
    <p>Kyselyn nimi:<br>
    <input type="text" name="topic" minlength="1" maxlength="15" ></p>
    
    <p>Automerkki 1:<br>
    <input type="text" name="choice"></p> 

    <p>Automerkki 2:<br>
    <input type="text" name="choice"></p>

    <p>Automerkki 3:<br>
    <input type="text" name="choice"></p>

    <p>Automerkki 4:<br>
    <input type="text" name="choice"></p>

    <p>Auton kuva:<br>
    <input type="file" accept="image/*" />
    <br>

    <p><strong>Kirjoita oikea vastaus tähän:</strong><br>
    <input type="text" name="correct"></p>

    <input type="submit" value="Luo kysely">

    <br>
    <br><a href="/">Etusivulle</a>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
{% endblock %}