{% extends "2layout.html" %}
{% block content %}

<h2>|{{ topic }}|</h2>

<p>{ image }</p>

<h3>Valitse oikea vaihtoehto:</h3>

<form action="/answer" method="POST">

{% for choice in choices[0:4] %}

<input type="radio" name="answer" value="{{ choice.id }}"> {{ choice.choice }} <br>
{% endfor %}
<p>

<input type="hidden" name="id" value="{{ id }}">
<input type="hidden" name="choice_id" value="{{ choice_id }}">

<input type="submit" value="Vastaa">

</form>
<hr>
<a href="/">Takaisin</a>

{% endblock %}