{% extends "layout.html" %}
{% block content %}

<h2>Rekisteröinti</h2>

<form action="/register" method="post">
Käyttäjätunnus: <br><input type="text" name="username" minlength="1" maxlength="20">
<p>
Salasana: <br><input type="password" name="password1">
<p>
Vahvista salasana: <br><input type="password" name="password2">
<p>
Käyttäjärooli:
<select name="role">
<option value=1> Noviisi
<option value=2> Asiantuntija
</select>
<p>
<input type="submit" value="Luo tunnus">
</form>

<p>
<a href="/login">Etusivulle</a>

{% endblock %}